:root {
    /* box-sizing: border-box; */
    font-family: Roboto, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: rgba(230, 236, 255, 0.804);
    overflow: hidden;
}

body {
    margin: 0;
}

#calculator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    flex: 1;
}

#screen {
    display: flex;
    color: black;
    background-color: white;
    height: calc(100vh - 480px);
    flex-direction: column-reverse;
    padding-bottom: 1rem;
    flex: 0 1 auto;
}

#screenDisplay {
    flex: 0 1 auto;
    height: 100%;
    text-align: right;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#screenDisplay > span {
    height: 90px;
}

#screenDisplay > div {
    flex: 0;
    justify-content: center;
    justify-items: flex-end;
    align-items: right;
    height: 80px;
}

#screenSpacer {
    display: flex;
    flex-direction: column;
}

#screenSpacer * {
    height: 60px;
}

#buttons {
    display: flex;
    flex: 1;
}

#buttons div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#buttons > div div, 
#numbers > div div {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

#numbers {
    width: 58vw;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: #333;
}

#operators {
    width: 16vw;
    display: flex;
    flex-direction: column;
    background-color: #4a4a4a;
    font-size: 1.4em;
    font-weight: 300;
}

#special {
    width: 17vw;
    flex: 1;
    background-color: #00796b;
}

p:nth-child(n-1) {
    border-top: 1px solid gray;
    height: 1px;
    margin-top: 0;
    padding-top: 0.25em;
    color: black;
}

#newEntry .newArg {
    animation-duration: 200ms;
    animation-name: newEntry;
    animation-iteration-count: 1;
}

.top {
   margin-bottom: -1rem; 
}

@keyframes newEntry {
    from {
        margin-right: -10%;
    }
    to {
        margin-right: 0%;
    }

}